body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box; 
}

.calculator {
    background-color:black;
    padding: 50px 15px 15px 15px;
    border: 1px solid white;
    border-radius: 10px;
}


.btn {
    height: 100px;
    width: 100px;
    margin: 3px;
    font-size: 40px;
    background-color: aliceblue;
}

.number {
    border: 1px solid blue;
    border-radius: 10px;
}

.number:hover {
    background-color: paleturquoise;
}

.operator {
    
    border-radius: 10px;
    background-color: orangered;
}

.operator:hover {
    background-color: orange;
}

.decimal {
    border: 1px solid gold;
    border-radius: 10px;
}

.decimal:hover {
    background-color: goldenrod;
}

.equal {
    border: 1px solid palevioletred;
    border-radius: 10px;
}

.equal:hover {
    background-color: violet;
}

.clear {
    border: 1px solid blueviolet;
    border-radius: 10px;
}

.clear:hover {
    background-color: red;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.screen {
    width: 317px;
    border: 1px solid salmon;
    height: 100px;
    margin: 15px 12px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    padding: 5px;
}

.previous {
    font-size: 20px;
}

.current {
    font-size: 30px;
}